/* TABLE DES STYLES  */
/*---                */
/*      HEADER       */
/*      NAVBAR       */
/*      MAIN         */
/*      SECTION      */
/*      ARTICLE      */
/*      ASIDE        */
/*                   */
/* ----------------  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


/* HEADER */

/* NAVBAR */
nav{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li a{
    padding: 2rem 4rem;
    color: #9F9F9F;
    text-decoration: none;
    display: block;
}

ul li .active{
    color: black;
}

ul li a:hover{
    color: black;
}

nav .logo{
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
    top:0;
    right: 0;
}

nav .logo a{
    padding: 2rem 1rem;
    margin-left: 2rem;
}

header img{
    width: 100%;
}


/* MAIN */
main{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

/* SECTION */
.section{
    padding: 2rem;
}

/* ARTICLE */
main article{
    max-width: 1024px;
    margin-left: 2rem;
    display: flex;
    line-height: 2rem;
}

article img{
    margin-top: 2rem;
    margin-right: 2rem;
    object-fit: cover;
}

article .text{
    margin-top: 2rem;
}

article p{
    text-align: justify;
    margin-bottom: 2rem;
}

article h2{
    font-family: 'Cardo', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

article p:nth-of-type(1){
    opacity: 60%;
    font-size: 17px;
    margin-bottom: 1rem;
}

/* ASIDE */
.ctgr{
    margin: 2rem 2.5rem;
}

.ctgr h2{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.ctgr ul{
    list-style: none;
}

.ctgr ul li{
    margin-bottom: 1rem;
    position: relative;
}

.ctgr ul a{
color: #9F9F9F;
text-decoration: none;
}

aside{
    background-color: #FBFBFB;
}

/* MEDIA QUERRIES 1280px */
@media screen and (max-width:1280px){

    nav .logo{
        margin: 0;
    }

    nav ul li a{
        padding: 2rem 2rem;
    }

    main{
        flex-direction: column;
    }

    main article{
        margin: 0 auto;
    }  

    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* MEDIA QUERRIES 880px */
@media screen and (max-width:880px){

    *{
        font-size: 12px;
    }

    article{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    article img{
        margin-top: 4rem;
        margin-right: 0;
        height: 150px;
    }

    article .text p:first-of-type{
        position: absolute;
        top: 25px;
        right: 0;
    }

    article .text p:nth-of-type(2){
        line-height: 20px;
    }

    article .text h2{
        position: absolute;
        top: 5px;
        left: 0;
    }

    aside{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* MEDIA QUERRIES 480px */
@media screen and (max-width:480px){
    nav ul{
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
    }

    nav ul li a{
        padding: 1rem;
    }

    nav .logo{
        position: unset;
        justify-content: center;
    }


    nav .logo a{
        text-align: center;
        margin: 0;
        padding: 1rem 2rem;
    }
}